

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}


.container {
	width: 75%;
}

label {
	color: #444;
	font-weight: 300;
}

.top-title {
	font-size: 1.25vmax;
	font-weight: 400;
}

span {
	font-weight: 300;
	cursor: default;
}


#task-level-1 span {
 	font-size: 3.75vmax;
 	padding-top: 5px;
}

#task-level-3 span {
 	font-size: 2.25vmax;
}
#task-level-3 .row {
	margin-bottom: 0px;
}
#task-level-3 p {
	margin-bottom: 5px;
}

#task-level-9 span {
 	font-size: 1.5vmax;
}
#task-level-9 .row {
	margin-bottom: 0px;
}
#task-level-9 p {
	margin-top: 6px;
	margin-bottom: 0px;
}

#task-level-0 span {
 	font-size: 1.5vmax;
}
#task-level-0 .row {
	margin-bottom: 0px;
}
#task-level-0 p {
	margin-top: 6px;
	margin-bottom: 0px;
}

.taskCompleted {
	text-decoration: line-through;
	text-decoration-color: #004d40;
	color: #999;
}

.taskListDisabled {
	color: #EEE;
	pointer-events: none;
}

.task-viewport {
	padding-top: 5%;
}

div.task-viewport > div {
	width: 5000px;
}


.my-slide-enter-active {
	transition: all .75s ease;
}
.my-slide-leave-active {
	transition: all .5s cubic-bezier(.89,.19,.89,.29);
}
.my-slide-enter, .my-slide-leave-to {
	transform: translateX(100px);
	opacity: 0;
}

span[id^="task-"] {
	transition: color linear .5s;
}

span[id^="task-"]:hover {
	color: #999;
}

.priority-select {
	margin-right: 10px;
	font-weight: 600;
	font-size: 1.5rem;
}

.priority-selected {
	text-decoration: underline;
}

.priority-1 {
	color: #0277bd;
}

.priority-3 {
	color: #f57c00;
}

.priority-9 {
	color: #512da8;
}

.priority-0 {
	color: #455a64;
}

.priority-disabled {
	color: #e0e0e0;
	text-decoration: line-through;
}
