<!DOCTYPE html>

<html>

<head>
	<title>139 Todo</title>
	
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/main-style.css">

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-5">
	<div id="app139">

		<nav class="grey lighten-4">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo center teal-text text-darken-4">139</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li v-if="!logged" v-bind:class="{ active: isPageActive('login') }"><router-link to="/login" class="teal-text text-darken-4">Sign In</router-link></li>
					<li v-if="logged && !userInfo.firstDailyLogin" v-bind:class="{ active: isPageActive('tasks') }"><router-link to="/tasks" class="teal-text text-darken-4">Tasks</router-link></li>
					<li v-if="logged && userInfo.firstDailyLogin" v-bind:class="{ active: isPageActive('createTaskListAll') }"><router-link to="/createTaskListAll" class="teal-text text-darken-4">Create Task List All</router-link></li>
					<!-- <li v-if="logged" v-bind:class="{ active: isPageActive('settings') }"><a href="#" class="teal-text text-darken-4">Settings</a></li> -->
					<li v-if="logged"><a v-on:click="performUserLogout()" class="teal-text text-darken-4">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<main class="container">
			<router-view :user-info="userInfo" :populate-user-info="populateUserInfo" :update-active-page="updateActivePage"></router-view>
		</main>
	</div>
</body>

<!-- Single task template -->
<template id="task-template">
	<div class="row">
		<div class="col s12">
			<p>
				<span v-on:click="checkTask(task, $event)" v-bind:class="{ taskCompleted: task.isCompleted }" :id="generateTagId(task.id)">{{ task.text }}</span>
			</p>
		</div>
	</div>
</template>

<!-- Task list header template -->
<template id="task-list-header-template">
	<div>
		<div class="row"></div>
		<div class="row center">
			<div class="col s12">
				<h4 class="top-title ">Welcome {{ userInfo.userName }}! Here are your tasks for today:</h4>
			</div>
		</div>
	</div>
</template>

<!-- Task list template -->
<template id="task-list-template">
	<div>
		<h3 class="center">{{ listTitle }}</h3>
		<div class="divider teal darken-4"></div>
		<div class="row center" :id="'task-level-' + listTitle">
			<div class="col s12">
				<task v-for="task in taskList" 
				v-bind:task="task" 
				v-bind:key="task.id" 
				:update-task-list-status="updateTaskListStatus" >
			</task>
		</div>
	</div>
</div>
</template>

<!-- Task list container template -->
<template id="task-list-container-template">
	<div>
		<task-list-header :user-info="userInfo.userName"></task-list-header>

		<div class="task-viewport valign-wrapper center-align">			
			<transition name="my-slide" mode="out-in">
				<task-list v-if="isListActive('1')" key="task-1" :task-list="mytasks.tasks1" :list-title="'1'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('3')" key="task-3" :task-list="mytasks.tasks3" :list-title="'3'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('9')" key="task-9" :task-list="mytasks.tasks9" :list-title="'9'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('0')" key="task-0" :task-list="mytasks.tasks0" :list-title="'0'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
			</transition>
		</div>
	</div>
</template>

<!-- Login template -->
<template id="login-page-template">
	<div>
		<div class="row"></div>
		<div class="row">
			<div class="col s12">
				<h4>Sign In to 139</h4>
			</div>
		</div>

		<div class="row">
			<form class="col s12">			
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" v-model="email">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" v-model="password">
						<label for="password">Password</label>
					</div>
				</div>
			</form>
		</div>
		<a v-on:click="performUserLogin()" class="waves-effect waves-light btn teal darken-4">Sign In</a>
	</div>	
</template>

<template id="task-collection-template">
	<div>
		<ul class="collection">
			<li v-for="task in taskList" v-on:click="selectedTaskId(task.id)" class="collection-item task-collection-li" v-bind:class="{ 'task-li-selected': selectedTasks.indexOf(task.id)!=-1 }">
				<div>
					<div class="row task-collection-row">
						<div class="col s8">
							<div class="row task-collection-row task-collection-main">
								<div class="col s12">
									{{ task.text }}
								</div>
							</div>
							<div v-if="task.priority" class="row task-collection-row task-collection-secondary">
								<div class="col s12">
									<span class="grey-text text-darken-1">Added on {{ task.dateAdded }} &nbsp · &nbsp Previous priority: {{ task.priority }}</span>
								</div>
							</div>
							<div v-else class="row task-collection-row task-collection-secondary">
								<div class="col s12">
									<span class="grey-text text-darken-1">New</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div class="row task-collection-row">
								<div class="col s12">
									<a v-if="isEditingTasks" v-on:click="deleteTask(task)" class="secondary-content waves-effect waves-red btn-flat">Delete</a>
									<a v-if="isEditingTasks" v-on:click="editTask(task)" class="secondary-content waves-effect waves-orange btn-flat">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<template id="create-task-list-all-template">
	<div>
		<div class="row"></div>
		<div class="row">
			<div class="col s12">
				<h4 class="center">Today's Task List</h4>
			</div>
		</div>
		<div v-if="editTaskListStep == 'editTaskList'">
			<div class="row"></div>
			<div class="row">
				<div class="col s9">
					<h5>New Tasks</h5>
					<p>Add here all the new tasks you have to complete</p>
				</div>
				<div class="col s3">
					<div>
						<a v-on:click="advanceEditTaskListStep('1')" class="waves-effect waves-light btn teal darken-4 right">Continue<i class="material-icons right">chevron_right</i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s11">
					<input v-model="task.text" id="task_description" type="text">
					<label for="first_name">Task Description</label>
				</div>			
				<div class="input-field col s1 center">
					<a v-if="taskAction.add" v-on:click="addTask()" class="btn-floating waves-effect waves-light green" v-bind:class="{ disabled: validateTask() }"><i class="material-icons">add</i></a>
					<a v-if="taskAction.edit" v-on:click="finishEditTask()" class="btn-floating waves-effect waves-light orange" v-bind:class="{ disabled: validateTask() }"><i class="material-icons">edit</i></a>
				</div>
			</div>

			<task-collection :is-editing-tasks="true" :task-list="tasks" :edit-task="editTask" :delete-task="deleteTask" :selected-task-id="selectedTaskId" :selected-tasks="selectedTasks"></task-collection>

			<div class="row"></div>
			<div class="row"></div>
			<div class="row">
				<div class="col s12">
					<h5>Your Pending Tasks</h5>
					<p>Tasks you added before that are still pending to be completed</p>
				</div>
			</div>

			<task-collection v-if="pendingTasks.length > 0" :is-editing-tasks="true" :task-list="pendingTasks" :edit-task="editTask" :delete-task="deleteTask" :selected-task-id="selectedTaskId" :selected-tasks="selectedTasks"></task-collection>
			<p v-else class="center grey-text text-darken-1">No pending tasks from previous days :)</p>
		</div>

		<div v-if="editTaskListStep == '1'">
			<div class="row"></div>
			<div class="row">
				<div class="col s9">
					<h5>1</h5>
					<p>Select the task that is your highest priority for today</p>
				</div>
				<div class="col s3">
					<div>
						<a v-on:click="advanceEditTaskListStep('3')" class="waves-effect waves-light btn teal darken-4 right">Continue<i class="material-icons right">chevron_right</i></a>
					</div>
				</div>
			</div>
			
			<task-collection :is-editing-tasks="false" :task-list="allTasks" :edit-task="editTask" :delete-task="deleteTask" :selected-task-id="selectedTaskId" :selected-tasks="selectedTasks"></task-collection>
		</div>

		<div v-if="editTaskListStep == '3'">
			<div class="row"></div>
			<div class="row">
				<div class="col s9">
					<h5>3</h5>
					<p>Select the tasks that are of medium priority for today</p>
				</div>
				<div class="col s3">
					<div>
						<a v-on:click="advanceEditTaskListStep('9')" class="waves-effect waves-light btn teal darken-4 right">Continue<i class="material-icons right">chevron_right</i></a>
					</div>
				</div>
			</div>
			
			<task-collection :is-editing-tasks="false" :task-list="allTasks" :edit-task="editTask" :delete-task="deleteTask" :selected-task-id="selectedTaskId" :selected-tasks="selectedTasks"></task-collection>
		</div>

		<div v-if="editTaskListStep == '9'">
			<div class="row"></div>
			<div class="row">
				<div class="col s9">
					<h5>9</h5>
					<p>Select the tasks that are of low priority for today</p>
				</div>
				<div class="col s3">
					<div>
						<a v-on:click="advanceEditTaskListStep('0')" class="waves-effect waves-light btn teal darken-4 right">Continue<i class="material-icons right">chevron_right</i></a>
					</div>
				</div>
			</div>
			
			<task-collection :is-editing-tasks="false" :task-list="allTasks" :edit-task="editTask" :delete-task="deleteTask" :selected-task-id="selectedTaskId" :selected-tasks="selectedTasks"></task-collection>
		</div>

	</div>
</template>


<script type="text/javascript">

function getCurrentDate() {
	var date = new Date()
	return date.getMonth() + '/' + date.getDate() + '/' + date.getFullYear()
}

var CreateTaskListAll = Vue.component('create-task-list-all', {
	props: ['updateActivePage', 'userInfo'],
	template: '#create-task-list-all-template',
	data: function () {
		return {
			task: {
				id: 0, 
				text: '', 
				isCompleted: false, 
				priority: '',
				dateAdded: ''
			},
			tasks: [],
			pendingTasks: [],
			taskAction: {
				'add': true,
				'edit': false
			},
			editTaskListStep: 'editTaskList',
			selectedTaskIdFromList: '',
			selectedTasks: [],
			allTasks: [],
			taskLists: {
				tasks1: [],
				tasks3: [],
				tasks9: [],
				tasks0: [],
			},
			taskListsMapping: {
				'1': 'tasks1',
				'3': 'tasks3',
				'9': 'tasks9',
				'0': 'tasks0'
			}
		}
	},
	methods: {
		setTaskAction: function (taskAction) {
			if (taskAction == 'add') {
				this.taskAction = { 'add': true, 'edit': false }
			}
			if (taskAction == 'edit') {
				this.taskAction = { 'add': false, 'edit': true }
			}
		},
		resetTask: function () {
			this.task = {
				id: 0, 
				text: '', 
				isCompleted: false, 
				priority: '',
				dateAdded: ''
			}
		},
		addTask: function () {
			this.task.id = Math.random()
			this.tasks.push(this.task)
			this.resetTask()
		},
		addTaskToNewList: function (task) {
			this.tasks.push(task)
		},
		editTask: function (task) {
			this.setTaskAction('edit')
			this.task = task
		},
		finishEditTask: function () {
			this.resetTask()
			this.setTaskAction('add')
		},
		deleteTask: function (task) {
			if (task.priority) {
				var taskList = this.pendingTasks
			} else {
				var taskList = this.tasks
			}
			var index = taskList.indexOf(task);
			if (index > -1) {
				taskList.splice(index, 1);
			}				
		},
		validateTask: function () {
			if (this.task.text == '') {
				return true
			}
			return false
		},
		advanceEditTaskListStep: function (step) {
			if (step == '0') {
				this.userInfo.firstDailyLogin = false
				router.push({ name: 'tasks', params: { mytasks: this.taskLists } })
			}
			if (step == '1') {
				this.allTasks = this.tasks.concat(this.pendingTasks)
			}

			if (this.editTaskListStep == '1' || this.editTaskListStep == '3' || this.editTaskListStep == '9') {
				tasks = []
				for (var i = 0; i < this.selectedTasks.length; i++) {
					var task = {}
					for (var j = 0; j < this.allTasks.length; j++) {
						if (this.allTasks[j].id == this.selectedTasks[i]) {
							task = this.allTasks[j]
							this.allTasks.splice(j, 1)
						}
					}
					task.priority = this.editTaskListStep
					tasks.push(task)
				}

				var taskList = this.taskLists[this.taskListsMapping[this.editTaskListStep]]
				for (var i = 0; i < tasks.length; i++) {
					taskList.push(tasks[i])
				}
				this.selectedTasks = []

				if (step == '0') {
					var taskList = this.taskLists[this.taskListsMapping['0']]
					for (var i = 0; i < this.allTasks.length; i++) {
						this.allTasks[i].priority = '0'
						taskList.push(this.allTasks[i])
					}
				}
			}

			this.editTaskListStep = step
		},
		selectedTaskId: function (id) {
			var index = this.selectedTasks.indexOf(id)
			if (index != -1) {
				this.selectedTasks.splice(index, 1)
			} else {
				if (this.editTaskListStep == '1') {
					if (this.selectedTasks.length == 1) {
						return
					}
				} else if (this.editTaskListStep == '3') {
					if (this.selectedTasks.length == 3) {
						return
					}
				} else if (this.editTaskListStep == '9') {
					if (this.selectedTasks.length == 9) {
						return
					}
				}
				this.selectedTasks.push(id)
			}
		}
	},
	mounted: function () {
		this.updateActivePage("createTaskListAll")
	}
})

Vue.component('task-collection', {
	props: ['isEditingTasks', 'taskList', 'editTask', 'deleteTask', 'selectedTaskId', 'selectedTasks'],
	template: '#task-collection-template'
})


Vue.component('task', {
	props: ['task', 'updateTaskListStatus'],
	template: '#task-template',
	methods: {
		checkTask: function (task, event) {
			task.isCompleted = !(task.isCompleted)
			document.getElementById("task-" + task.id).classList.add('taskCompleted')
			this.updateTaskListStatus(task)
		},
		generateTagId: function (id) {
			return "task-" + id
		},
	}
})

var TaskListComponent = Vue.component('task-list-container', {
	props: ['userInfo', 'updateActivePage', 'mytasks'],
	template: '#task-list-container-template',
	data: function() {
		return {
			activeList: '1'
		}
	},
	methods: {
		updateTaskListStatus: function (task) {
			priority = task.priority;
			if (priority == '1') {
				if (this.mytasks.tasks1[0].isCompleted) {
					this.activeList = '3'
				}
			}
			if (priority == '3') {
				threeCompleted = true
				for (var i = 0; i < this.mytasks.tasks3.length; i++) {
					if (this.mytasks.tasks3[i].isCompleted == false) {
						threeCompleted = false
					}
				}
				if (threeCompleted) {
					this.activeList = '9'
				}
			}
			if (priority == '9') {
				nineCompleted = true;
				for (var i = 0; i < this.mytasks.tasks9.length; i++) {
					if (this.mytasks.tasks9[i].isCompleted == false) {
						nineCompleted = false
					}
				}
				if (nineCompleted) {
					this.activeList = '0'
				}
			}
		},
		isListActive: function(listTitle) {
			if (listTitle == this.activeList) {
				return true
			}
			return false
		},
	},
	mounted: function () {
		this.updateActivePage("tasks")
	}
})

Vue.component('task-list-header', {
	props: ['userInfo'],
	template: '#task-list-header-template'
})

Vue.component('task-list', {
	props: ['taskList', 'listTitle', 'activeList', 'updateTaskListStatus'],
	template: '#task-list-template'
})

var LoginComponent = Vue.component('login-page', {
	props: ['populateUserInfo', 'updateActivePage'],
	template: '#login-page-template',
	data: function () {
		return {
			email: null,
			password: null
		}
	},
	methods: {
		performUserLogin: function () {
			var userInfo = {
				userID: "3a761bd9",
				userEmail: "lucas@lasobrinho.com",
				userName: "Lucas",
				firstDailyLogin: true,
			}
			if (userInfo) {
				this.populateUserInfo(userInfo)
				if (userInfo.firstDailyLogin) {
					router.push({ path: '/createTaskListAll' })
				} else {
					router.push({ path: '/tasks' })
				}
			}
		}
	},
	mounted: function () {
		this.updateActivePage("login")
	}
})

const routes = [
	{ path: '/tasks', name: 'tasks', component: TaskListComponent, props: true },
	{ path: '/login', component: LoginComponent },
	{ path: '/createTaskListAll', component: CreateTaskListAll },
]

const router = new VueRouter({
	routes: routes
})

var app = new Vue({
	el: '#app139',
	router,
	data: {
		logged: false,
		userInfo: {},
		activePage: ""
	},
	methods: {
		populateUserInfo: function (userInfo) {
			this.userInfo = userInfo
			this.logged = true
		},
		performUserLogout: function () {
				// perform logout operations in the RESTful API
				this.userInfo = {}
				this.logged = false
				this.activePage = ""
				router.push({ path: '/' })
			},
		updateActivePage: function (page) {
			this.activePage = page
		},
		isPageActive: function (page) {
			if (this.activePage == page) {
				return true
			}
			return false
		}
	}
}).$mount('#app139')

</script>

</html>