<!DOCTYPE html>

<html>

<head>
	<title>139 Todo</title>
	
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/main-style.css">

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="grey lighten-5">
	<div id="app139">

		<nav class="grey lighten-4">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo center teal-text text-darken-4">139</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><router-link to="/tasks" class="teal-text text-darken-4">Task List</router-link></li>
					<li><a href="#"><i class="material-icons teal-text text-darken-4">settings</i></a></li>
					<li><a href="#" class="teal-text text-darken-4">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<main class="container">
			<router-view :user-name="userName"></router-view>
		</main>
	</div>
</body>

<template id="task-template">
	<div class="row">
		<div class="col s12">
			<p>
				<span v-on:click="checkTask(task, $event)" v-bind:class="{ taskCompleted: task.isCompleted }" :id="generateTagId(task.id)">{{ task.text }}</span>
			</p>
		</div>
	</div>
</template>

<template id="task-list-header-template">
	<div>
		<div class="row"></div>
		<div class="row center">
			<div class="col s12">
				<h4 class="top-title ">Welcome {{ userName }}! Here are your tasks for today:</h4>
			</div>
		</div>
	</div>
</template>

<template id="task-list-template">
	<div>
		<h3 class="center">{{ listTitle }}</h3>
		<div class="divider teal darken-4"></div>
		<div class="row center" :id="'task-level-' + listTitle">
			<div class="col s12">
				<task v-for="task in taskList" 
					  v-bind:task="task" 
					  v-bind:key="task.id" 
					  :update-task-list-status="updateTaskListStatus" >
				</task>
			</div>
		</div>
	</div>
</template>

<template id="task-list-container-template">
	<div>
		<task-list-header :user-name="userName"></task-list-header>

		<div class="task-viewport valign-wrapper center-align">			
			<transition name="my-slide" mode="out-in">
				<task-list v-if="isListActive('1')" key="task-1" :task-list="taskLists.tasks1" :list-title="'1'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('3')" key="task-3" :task-list="taskLists.tasks3" :list-title="'3'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('9')" key="task-9" :task-list="taskLists.tasks9" :list-title="'9'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
				<task-list v-if="isListActive('0')" key="task-0" :task-list="taskLists.tasks0" :list-title="'0'" :active-list="activeList" :update-task-list-status="updateTaskListStatus"></task-list>
			</transition>
		</div>
	</div>
</template>


<script type="text/javascript">
	Vue.component('task', {
		props: ['task', 'updateTaskListStatus'],
		template: '#task-template',
		methods: {
			checkTask: function (task, event) {
				task.isCompleted = !(task.isCompleted)
				document.getElementById("task-" + task.id).classList.add('taskCompleted')
				this.updateTaskListStatus(task)
			},
			generateTagId: function (id) {
				return "task-" + id
			},
		}
	})

	var TaskListComponent = Vue.component('task-list-container', {
		props: ['userName'],
		template: '#task-list-container-template',
		data: function() {
			return {
				activeList: '1',
				taskLists: {
					tasks1: [
						{ id: 1, text: 'Build an MVP for 139', isCompleted: false, priority: '1' },
					],
					tasks3: [
						{ id: 2, text: 'Learn about with vue.js framework', isCompleted: false, priority: '3' },
						{ id: 3, text: 'Learn about with Materialize CSS framework', isCompleted: false, priority: '3' },
						{ id: 4, text: 'Continue improving 139', isCompleted: false, priority: '3' },
					],
					tasks9: [
						{ id: 5, text: 'Build an initial design for 139', isCompleted: false, priority: '9' },
						{ id: 6, text: 'Continue improving 139', isCompleted: false, priority: '9' },
						{ id: 7, text: 'Learn about with vue.js framework', isCompleted: false, priority: '9' },
						{ id: 8, text: 'Learn about with Materialize CSS framework', isCompleted: false, priority: '9' },
						{ id: 9, text: 'Build an MVP for 139', isCompleted: false, priority: '9' },
						{ id: 10, text: 'Continue improving 139', isCompleted: false, priority: '9' },
						{ id: 11, text: 'Learn about with vue.js framework', isCompleted: false, priority: '9' },
						{ id: 12, text: 'Learn about with Materialize CSS framework', isCompleted: false, priority: '9' },
						{ id: 13, text: 'Build an MVP for 139', isCompleted: false, priority: '9' },
					],
					tasks0: [
						{ id: 14, text: 'Continue improving 139', isCompleted: false, priority: '0' },
						{ id: 15, text: 'Learn about with vue.js framework', isCompleted: false, priority: '0' },
						{ id: 16, text: 'Learn about with Materialize CSS framework', isCompleted: false, priority: '0' },
						{ id: 17, text: 'Build an MVP for 139', isCompleted: false, priority: '0' },
					],
				},
			}
		},
		methods: {
			updateTaskListStatus: function (task) {		// Write a clever code to check this...
				priority = task.priority;
				if (priority == '1') {
					if (this.taskLists.tasks1[0].isCompleted) {
						this.activeList = '3'
					}
				}
				if (priority == '3') {
					threeCompleted = true
					for (var i = 0; i < this.taskLists.tasks3.length; i++) {
						if (this.taskLists.tasks3[i].isCompleted == false) {
							threeCompleted = false
						}
					}
					if (threeCompleted) {
						this.activeList = '9'
					}
				}
				if (priority == '9') {
					nineCompleted = true;
					for (var i = 0; i < this.taskLists.tasks9.length; i++) {
						if (this.taskLists.tasks9[i].isCompleted == false) {
							nineCompleted = false
						}
					}
					if (nineCompleted) {
						this.activeList = '0'
					}
				}
			},
			isListActive: function(listTitle) {
				if (listTitle == this.activeList) {
					return true
				}
				return false
			}
		}
	})

	Vue.component('task-list-header', {
		props: ['userName'],
		template: '#task-list-header-template'
	})

	Vue.component('task-list', {
		props: ['taskList', 'listTitle', 'activeList', 'updateTaskListStatus'],
		template: '#task-list-template'
	})

	const routes = [
		{ path: '/tasks', component: TaskListComponent }
	]
	const router = new VueRouter({
		routes: routes
	})

	var app = new Vue({
		el: '#app139',
		router,
		data: {
			userName: "Lucas",
		}
	}).$mount('#app139')
</script>

</html>